 <widget id="A6050245549832"  version="0.0.1">
    <name>天下吕氏</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
      <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
      <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="false"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" /><permission name="sms"/> <preference name="customRefreshHeader" value="UIPullRefreshFlash"/>
 <feature name="aliPayPlus">
     <param name="urlScheme" value="AliPayPlusA6050245549832" />
 </feature>
 <feature name="wx">
   <param name="urlScheme" value="wx9447e4f557a18279"/>
   <param name="apiKey" value="wx9447e4f557a18279"/>
   <param name="apiSecret" value="147761d76f65771a8cd3b3bca09d2923"/>
 </feature>
</widget>